<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Forever Trendy - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" href="https://firebasestorage.googleapis.com/v0/b/forevertrendy.appspot.com/o/ic_launcher.png?alt=media&token=ca742412-cd35-4234-b4e7-8a12dfe7b626">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="assets/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/loginStyle.css">
</head>
<body>
    <main class="loc">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Forever Trendy</h2>
        </div>
        <form action="#">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="email" id="sample3">
              <label class="mdl-textfield__label" for="sample3">Email...</label>
            </div><br>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
                <label class="mdl-textfield__label" for="sample4">Password...</label>
                <span class="mdl-textfield__error">Input is not a number!</span>
            </div>
        </form>
        <div class="mdl-card__actions mdl-card--border">
          <a style="align-items: center" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Login
          </a>
        </div>
        </div>
      </div>
      <input id="google" type="button">
    </main>
</body>
</html>