<nav class="navigation">
    <ul>
        <li id="denim"><a href="#">Denim</a></li>
        <li id="cropTop"><a href="#">Crop Tops</a></li>
        <li id="bags"><a href="#">Bags</a></li>
        <li id="shoes"><a href="#">Shoes</a></li>
        <li id="bikini"><a href="#">Bikini</a></li>
        <li id="skirts"><a href="#">Skirts</a></li>
    </ul>
    
        <!-- Navigation 
        <% include ./nav.ejs %>-->
</nav>