<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Forever Trendy - SignIn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://firebasestorage.googleapis.com/v0/b/forevertrendy.appspot.com/o/ic_launcher.png?alt=media&token=ca742412-cd35-4234-b4e7-8a12dfe7b626">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/style.css">
</head>
<body>
    <!--<main class="loc">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Forever Trendy</h2>
        </div>
        <div class="mdl-card__supporting-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Mauris sagittis pellentesque lacus eleifend lacinia...
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a style="align-items: center" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Get Started
          </a>
        </div>
        </div>
      </div>
    </main>-->
    <main>
          <section id="table_body" class="row">
            <img src="jeans3.jpg" alt="item" style="width:100%">
            <label><b>Tailored Jeans</b></label>
            <p class="price">$19.99</p><p class="price">Ksh</p>
            <button>Add Cart</button>
          </section>
        </div>
    </main>
    <script src="https://www.gstatic.com/firebasejs/5.8.3/firebase.js"></script>
    <script src="jquery-3.3.1.min.js"></script>
    <script src="app.js"></script>
</body>
</html>